[user]
name = Daniel Goude
email = daniel@goude.se

[hub]
protocol = https

[diff]
tool = vimdiff

[difftool]
prompt = false

[alias]
d = difftool

[color]
ui = auto

[credential]
;helper = /opt/boxen/bin/boxen-git-credential

[core]
;excludesfile = /opt/boxen/config/git/gitignore
